/* Geral do container */
.container2{
    margin-top: 5%;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
/* Primeira divisão de titulo */
.box_titulo_simulador{
    margin-left: 13%;
    background-color: #4c4c4c;
    padding: 60px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000a4;
    display: flex;
    align-self: start;

}
.titulo_simulador{
    font-family: 'Lato', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40pt;
    font-weight: 10;
}
.box_titulo_simulador:hover{
    transform: scale(1.005);
    transition: 0.5s;
    box-shadow: 10px 10px 15px #000000a4;
}
.subtitulo_simulador{
    align-self: flex-start;
    padding: 30px 0px;
    margin-left: 13%;
    font-size: 17pt;
}
/* Corpo da calculadora */
#corpo_calculadora{
    border-top: solid 2px grey;
    background-color: #101010dd;
}
.conteudo{
    margin-top: 50px;
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 10px 5px #12121258;
}
.conteudo:hover{
    transform: scale(1.005);
    transition: 0.8s;
    box-shadow: 10px 10px 15px #000000a4;
}
.conteudo .simulador_texto{
    font-size: 16pt;
}
.componentes_simulador{
    padding-left: 2%;
    background-color: #00000060 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px 0px 0px 15px;
}
/* inputs */
.conteudo .vagas, .valor{
    display: flex;
    flex-direction: column;
    margin-top: 10px
}
.input_vaga{
    background-color: transparent;
    border: none;
    width: 370px;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    outline: 0;
    font-size: 19pt;
    color: #ffffff;
}
.conteudo_valor{
    height: 30px;
    color: white;
    display: flex;
}

.input_vaga:focus{
    border-bottom: 1px solid #f3ed73;
    width: 400px;
    transform: scale(1.01);
}
.input_vaga:hover{
    transition: 0.3s;
    border-bottom: 1px solid #f3ed73;
    width: 400px;
    transform: scale(1.01);
}
.simular_botao{
    border: solid 3px #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 220px;
    height: 44px;
    border-radius: 30px;
}
.botao_area{
    display: flex;
    flex-direction: column;
}
.botao_area span{
    margin-left: 25px;
}
.simular_botao:hover{
    background-color: #757575ed;
    transition: 0.5s;
    transform: scale(1.02);
    color: #f3ed73;

}

/* Segunda parte calculadora com resultados*/
.resultado{
    width: 60%;
    background-color: white;
    height: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}
.res{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tot_ganho, #valor_perdas, #tot_sem{
    margin-top: 10px;
}
.res:first-child{
    font-size: 24pt;
}
.res_numeros{
    color: #b9b00a;
}
.resultado_calculo{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    font-size: 20pt;
}
/* Texto de redirecionamento */
.redirecionar_cadastro{
    text-decoration: none;
    color: black;
}
.redirecionar_cadastro:hover{
    color: #757575ed;
    transition: 0.2s;
    border-bottom: solid 1px  #757575ed;
    font-weight: 200;
}
/* Descrição da calculadora */
.explicacao_simulador{
    font-size: 12pt;
    display: flex;
    align-self: start;
    margin: 32px 13% 50px;
}

/* TELA INFORMAÇÕES */


.container3{
    margin: auto;
    width: 90%;
    height: 1000px;
    display: flex;
    border: solid 3px yellow;
}
.boxes_informacoes{
    width: 100%;
    height: 100%;
    border: solid 3px yellow;
    display: flex;
    flex-direction: column;
}
.area_titulo_informacoes{
    background-color: rgba(207, 33, 207, 0.553);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 1% auto;
}
.caixas_informacoes{
    height: 100%;
    padding: 25px 0px;
    display: flex;
    background-color: red;
    }
.divisao_informacoes_esquerda{
    background-color: blue;
    width: 70%;
}
.divisao_informacoes_direita{
    background-color: rgba(57, 187, 98, 0.768);
    width: 30%;
}