
.container2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Lato', sans-serif;
    margin-top: 5%;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.titulo_simulador{
    font-family: 'Lato', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40pt;
    font-weight: 10;
}
.box_titulo_simulador{
    margin-left: 13%;
    background-color: #4c4c4c;
    padding: 60px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000000a4;
    display: flex;
    align-self: start;

}
.subtitulo_simulador{
    align-self: flex-start;
    padding: 30px 0px;
    margin-left: 13%;
    font-size: 17pt;
}
.corpo_calculadora{
    border-top: solid 2px grey;
    background-color: #101010dd;
}
.conteudo{
    margin-top: 50px;
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 10px 5px #12121258;
}
.conteudo .simulador_texto{
    font-size: 16pt;
}
.componentes_simulador{
    padding-left: 2%;
    background-color: #00000060 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px 0px 0px 15px;
}
.conteudo .vagas, .valor{
    display: flex;
    flex-direction: column;
    margin-top: 10px
}
.input_vaga{
    background-color: transparent;
    border: none;
    width: 400px;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    width: 300px;
}
.input_valor{
    color: white;
    display: flex;
    font-size: 30pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Lato', sans-serif;
}
.simular_botao{
    border: solid 3px #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 220px;
    height: 44px;
    border-radius: 10px;
}
.botao_area{
    display: flex;
    flex-direction: column;
}
.simular_botao:hover{
    background-color: #757575ed;
}

/* Segunda parte calculadora */
.resultado{
    width: 60%;
    background-color: white;
    height: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}
.resultado_cadastro{
    justify-self: end;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #757575ed;
}
.explicacao_simulador{
    font-size: 12pt;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    align-self: start;
    margin: 10px 13%;
}