/* primeira tela */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

.teste {
    background-image: url(images/Systanyanka.png);
    background-size: cover;
}

.header {
    /* position: fixed; */
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
}

.container {
    /* border: solid 3px blue; */
    display: flex;
    width: 90%;
    margin: auto;
}

.container .navbar {
    /* border: solid 3px red; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    margin-left: 4%;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f3ed73;
    transition: 0.5s;
}

.container #logo {
    width: 10%;
}

.formulario_login {
    /* border: solid 3px purple; */
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    /* border: solid 3px rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 4%;
    border-radius: 20px;
}

section h1 {
    font-size: 50px;
}

section h2 {
    font-size: 30px;
    margin-top: 15px;
}

section button {
    padding: 5% 30%;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: #D4CCCB;
    font-weight: 900;
    margin-bottom: 15px;
}

section button:hover {
    background-color: #a49e9e;
}


.ipt_login {
    padding: 7%;
    background-color: #D4CCCB;
    border-radius: 20px;
}

.ipt_login::placeholder {
    color: black;
}

.login {
    /* border: solid 3px purple; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 30px;
}

label {
    /* border: blue solid 3px; */
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.outros {
    /* border: blue solid 3px; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 15px;
}
.outros a{
    text-decoration: none;
    color: black;
}
.outros p {
    margin-left: 15px;
}

.outros a:hover {
    color: #a49e9e;
    cursor: pointer;
}