/* primeira tela */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

.header {
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    z-index: 1000;
}

.container {
    /* border: solid 3px blue; */
    display: flex;
    width: 90%;
    margin: auto;
}

.container .navbar {
    /* border: solid 3px red; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    margin-left: 4%;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f3ed73;
    transition: 0.5s;
}

.container #logo {
    width: 10%;
}

.screen .container {
    border: purple solid 3px;
    width: 100%;
    /* height: auto; */
}

.container img {
    width: 50%;
}

.formulario_login {
    border: solid 3px gray;
    width: 100%;
}

section {
    border: solid 3px rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

