/* navbar */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

.header {
    /* position: fixed; */
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    z-index: 1000;
}

.container {
    /* border: solid 3px blue; */
    display: flex;
    width: 90%;
    margin: auto;
}

.container .navbar {
    /* border: solid 3px red; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    margin-left: 4%;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f3ed73;
    transition: 0.5s;
}

.container #logo {
    width: 10%;
}

/* intro */
.intro {
    height: 83vh;
    margin-top: 10px;
}
/* menu */

.menu {
    /* border: solid red 3px; */
    width: 20%;
    height: 83vh;
    background-color: #4c4c4c;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.menu img {
    /* border: solid 2px gray; */
    width: 30%;
    padding: 10px;
    height: auto;
    background-color: #101010dd;
    border-radius: 100% 100%;
}

.topicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.topicos p {
    margin: 2%;
    font-size: 25px;
}

.sair {
    color: white;
    background-color: red;
    text-align: center;
    margin-top: 60%;
    font-size: 25px;
    padding: 2% 20%;
    border-radius: 20px;
}


/* dashboard */

.dashboard {
    /* border: solid 3px green; */
    width: 80%;
    background-color: #101010dd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.alerta {
    display: flex;
    justify-content: center;
}

.alerta section {
    font-weight: 900;
    /* border: 3px solid blue; */
    width: 65%;
    padding: 1%;
    margin-top: 2%;
    background-color: #4c4c4c;
    border-radius: 20px;
}

.alerta section h1 {    
    /* border: #f3ed73 3px solid; */
    font-size: 40px;
    color: white;
    text-align: center;
}

.alerta section p {
    text-align: end;
    font-style: italic;
    color: white;
    margin-right: 2%;
    font-size: 15px;
}

.alerta section .dados {
    font-size: 15px;
}

/* andar */

.andar {
    /* border: solid 3px red; */
    color: white;
    margin-top: 3%;
}

.andar .container {
    display: flex;
    flex-direction: column;
}

.box {
    /* border: solid 3px blue; */
    width: 50%;
}

.box h1 {
    /* text-align: center; */
}

.box section {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 6%;
    border-radius: 20px;
    margin-top: 3%;
    background-color: #4c4c4c;
    color: white;
}

.grafico {
    /* border: solid 3px red; */
    /* margin-top: 1%;
    margin-bottom: 6%; */
}

