/* navbar */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

.header {
    /* position: fixed; */
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    z-index: 1000;
}

.container {
    /* border: solid 3px blue; */
    display: flex;
    width: 90%;
    margin: auto;
}

.container .navbar {
    /* border: solid 3px red; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    margin-left: 4%;
    font-size: 20px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f3ed73;
    transition: 0.5s;
}

.container #logo {
    width: 10%;
}



/* intro */
.intro {
    margin-top: 10px;
}

/* menu */
.menu {
    /* border: solid red 3px; */
    width: 7%;
    height: 40vh;
    background-color: #4c4c4c;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.menu_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.menu i {
    font-size: 25px;
    margin: 7%;
}

.topicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 200px;
}

.topicos p {
    font-size: 20px;
}

.topicos a {
    font-size: 20px;
    margin-top: 15%;
}


.sair {
    color: white;
    background-color: red;
    text-align: center;
    margin-top: 90%;
    font-size: 18px;
    padding: 10% 20%;
    border-radius: 20px;
}



/* dashboard */
.dashboard {
    /* border: solid 3px green; */
    width: 100%;
    background-color: #101010dd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.alerta {
    display: flex;
    justify-content: center;
}

.alerta section {
    font-weight: 900;
    /* border: 3px solid blue; */
    width: 65%;
    padding: 1%;
    margin-top: 2%;
    background-color: #4c4c4c;
    border-radius: 20px;
}

.alerta section .alerta_texto {
    /* border: #f3ed73 3px solid; */
    font-style: normal !important;
    font-size: 40px;
    color: white;
    text-align: center;
}

.alerta section #porcentagem {
    font-weight: 900;
}

.alerta section p {
    text-align: end;
    font-style: italic;
    color: white;
    margin-right: 2%;
    font-size: 15px;
}

.alerta section .dados {
    font-size: 13px;
}


/* kpi */
.analystics .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.analystics .kpi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 2%; */
    color: white;
    margin-top: 2%;
}

.kpi_critico {
    background-color: red;
    padding: 0.5% 4%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.kpi_emergencia {
    background-color: yellow;
    color: black !important;
    padding: 0.5% 2%;
}

.kpi_ideal {
    background-color: green;
    padding: 0.5% 4%;
}

.kpi_acimaMedia {
    background-color: rgb(80, 214, 18);
    padding: 0.5% 1%;
}

.kpi_perfeito {
    background-color: rgb(43, 43, 219);
    padding: 0.5% 3.5%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.porcentagem_kpi {
    font-size: 25px;
}




/* graficos */

.chart {
    /* border: solid 3px red; */
    height: 105vh;
    margin-top: 2%;
}

.chart .container {
    /* border: solid 3px blue; */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ladoA {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    color: white;
    /* border: 2px solid white; */
    width: 50%;
}

.grafico_doughnuts {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    background-color: #4c4c4c;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
}

.etiquetas {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    background-color: #4c4c4c;
    color: white;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ladoA h1 {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
    font-size: 21px;
}

.ladoB {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    color: white;
    /* border: solid 3px red; */
}

.ladoB h1 {
    margin-bottom: 2%;
    font-size: 22px;
}

.ladoB section {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    background-color: #4c4c4c;
    color: white;
    /* border: 3px solid green; */
    margin-bottom: 5%;
    padding: 3%;
}

/* .box {
     border: solid 3px white; 
    margin-top: 3%;
}

.box section {
    margin-top: 3%;
    padding: 1% 2%;
    font-size: 16px;
} */

.box {
    /* border: solid 3px blue; */
    width: 100%;
}

.box section {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 3%;
    border-radius: 20px;
    margin-top: 3%;
    background-color: #4c4c4c;
    color: white;
    /* border: solid 3px white; */
} 




/* footer */
footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 3px red; */
}

.social-media {
    text-align: center;
}

.social-media i {
    padding-top: 10px;
}

.systoyanka {
    text-align: center;
    font-size: 30px;
}