/* primeira tela */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

.header {
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    z-index: 1000;
}

.container {
    /* border: solid 3px blue; */
    display: flex;
    width: 90%;
    margin: auto;
}

.container .navbar {
    /* border: solid 3px red; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    margin-left: 4%;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #f3ed73;
    transition: 0.5s;
}

.container #logo {
    width: 10%;
}

/* inicio banner nosso */


#vai {
    color: aliceblue;
    margin: auto;
    width: 800px;
    height: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.caixa_login {
    background: rgb(0, 0, 0);
    width: 350px;
    height: 300px;
    display: flex;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login h1 {
    color: rgb(221, 209, 42);
    font-size: 30px;
}

.login {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-around;
}

.login button {
    margin-top: 10px;
    background: rgb(199, 8, 8);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 120px;
    align-self: center;
    font-size: 20px;
}

.login input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(255, 252, 252);
    border-radius: 10px;
    font-size: 20px;
    justify-content: space-around;
}

.login span {
    font-size: 20px;
}

.title p {
    font-size: 35px;
    width: 40%;
    text-shadow: 2px 3px 6px black;
}

/*  final do nosso banner*/

/* footer */

footer {
    padding-top: 8%;
    padding-bottom: 1%;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 3px red; */
}

.social-media {
    text-align: center;
}

.social-media i {
    padding-top: 10px;
}

.systoyanka {
    text-align: center;
    font-size: 30px;
}